body {
        background-color: black;
        color: white;
        font-family: Arial;
      }

      .Title {
        font-size: 30px;
        font-weight: bold;
      }

      .move-icon {
        height: 50px;
        width: 50px;
      }

      .move-button {
        background-color: transparent;
        border: 3px solid white;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin: 10px;
        cursor: pointer;
      }

      .result {
        font-size: 20px;
        font-weight: bold;
        margin-top: 50px;
      }

      .score {
        font-size: 20px;
        font-weight: bold;
        margin-top: 60px;
      }

      .reset-score-button {
        background-color: white;
        border: none;
        font-size: 15px;
        padding: 8px 15px;
        cursor: pointer;
      }